In [12]:
# importing pyspark libs
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pandas as pd

In [13]:
# Spark session
try:
    spark = SparkSession.builder.master("local").appName("PysparkLearning").getOrCreate()
    if spark is not None:
        print("Spark session created successfully")
    else:
        print("Please check your spark session variable")
except Exception as e:
    print("Exception occured during spark session creation with error :"+str(e))

Spark session created successfully

In [14]:
# this dataset is downloaded from Kaggle
csvFileName = "D:/Pyspark_latest/Testing with multiple file formats/csv/Titanic-Dataset.csv"

#make sure you give the header = True else spark will create default columns
try:
    titanic_data = spark.read.csv(csvFileName,inferSchema = True ,header=True, sep=",")
except Exception as e:
    print("Error in reading the file")

### Purpose : To analyse which segment of people have survived the most

#### Knowledge Bytes : 1
- There is no shape function in spark
- If you want to have summary of df like pandas.describe to give mean, median and percentiles u can use summary function
- Remember summary is a transformation unless we use an action like show or collect it will not print the results
- If you use show it will always return None type used for only debugging purose
- collect : Collects the result set and stores into a row object --> returns a py list
- Remember collect can crash the program if the data is too huge

In [15]:
print("Columns in data set are")
print(titanic_data.columns)  # printing the colums

print("Column Nature (Dtypes and nullable nature)")
print(titanic_data.printSchema()) # prints the column data type and nullable nature

print("Size of dataset")
print(titanic_data.count()) #shape function is not present in spark

print("Number of columns " +str(len(titanic_data.columns)))

print("Sample of 10 records (rows)")
print(titanic_data.show(10))  # 10 records display

# some stats around the df
print("Summary of df")
stats = titanic_data.summary().collect()
for row in stats:
    print(row.asDict())

# Other ways of producing the same result
print("Other way 1")
print(titanic_data.summary().toPandas())

# we can also use truncate which tells spark not to cut off long values

print("Other way 2")
print(titanic_data.summary().show(truncate=False))

Columns in data set are
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
Column Nature (Dtypes and nullable nature)
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

None
Size of dataset
891
Number of columns 12
Sample of 10 records (rows)
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows

None
Summary of df
{'summary': 'count', 'PassengerId': '891', 'Survived': '891', 'Pclass': '891', 'Name': '891', 'Sex': '891', 'Age': '714', 'SibSp': '891', 'Parch': '891', 'Ticket': '891', 'Fare': '891', 'Cabin': '204', 'Embarked': '889'}
{'summary': 'mean', 'PassengerId': '446.0', 'Survived': '0.3838383838383838', 'Pclass': '2.308641975308642', 'Name': None, 'Sex': None, 'Age': '29.69911764705882', 'SibSp': '0.5230078563411896', 'Parch': '0.38159371492704824', 'Ticket': '260318.54916792738', 'Fare': '32.2042079685746', 'Cabin': None, 'Embarked': None}
{'summary': 'stddev', 'PassengerId': '257.3538420152301', 'Survived': '0.48659245426485753', 'Pclass': '0.8360712409770491', 'Name': None, 'Sex': None, 'Age': '14.526497332334035', 'SibSp': '1.1027434322934315', 'Parch': '0.8060572211299488', 'Ticket': '471609.26868834975', 'Fare': '49.69342859718089', 'Cabin': None, 'Embarked': None}
{'summary': 'min', 'PassengerId': '1', 'Survived': '0', 'Pclass': '1', 'Name': '"Andersson, Mr. August Edvard (""Wennerstrom"")"', 'Sex': 'female', 'Age': '0.42', 'SibSp': '0', 'Parch': '0', 'Ticket': '110152', 'Fare': '0.0', 'Cabin': 'A10', 'Embarked': 'C'}
{'summary': '25%', 'PassengerId': '223', 'Survived': '0', 'Pclass': '2', 'Name': None, 'Sex': None, 'Age': '20.0', 'SibSp': '0', 'Parch': '0', 'Ticket': '19996.0', 'Fare': '7.8958', 'Cabin': None, 'Embarked': None}
{'summary': '50%', 'PassengerId': '446', 'Survived': '0', 'Pclass': '3', 'Name': None, 'Sex': None, 'Age': '28.0', 'SibSp': '0', 'Parch': '0', 'Ticket': '236171.0', 'Fare': '14.4542', 'Cabin': None, 'Embarked': None}
{'summary': '75%', 'PassengerId': '669', 'Survived': '1', 'Pclass': '3', 'Name': None, 'Sex': None, 'Age': '38.0', 'SibSp': '1', 'Parch': '0', 'Ticket': '347743.0', 'Fare': '31.0', 'Cabin': None, 'Embarked': None}
{'summary': 'max', 'PassengerId': '891', 'Survived': '1', 'Pclass': '3', 'Name': 'van Melkebeke, Mr. Philemon', 'Sex': 'male', 'Age': '80.0', 'SibSp': '8', 'Parch': '6', 'Ticket': 'WE/P 5735', 'Fare': '512.3292', 'Cabin': 'T', 'Embarked': 'S'}
Other way 1
  summary        PassengerId             Survived              Pclass  \
0   count                891                  891                 891
1    mean              446.0   0.3838383838383838   2.308641975308642
2  stddev  257.3538420152301  0.48659245426485753  0.8360712409770491
3     min                  1                    0                   1
4     25%                223                    0                   2
5     50%                446                    0                   3
6     75%                669                    1                   3
7     max                891                    1                   3

                                               Name     Sex  \
0                                               891     891
1                                              None    None
2                                              None    None
3  "Andersson, Mr. August Edvard (""Wennerstrom"")"  female
4                                              None    None
5                                              None    None
6                                              None    None
7                       van Melkebeke, Mr. Philemon    male

                  Age               SibSp                Parch  \
0                 714                 891                  891
1   29.69911764705882  0.5230078563411896  0.38159371492704824
2  14.526497332334035  1.1027434322934315   0.8060572211299488
3                0.42                   0                    0
4                20.0                   0                    0
5                28.0                   0                    0
6                38.0                   1                    0
7                80.0                   8                    6

               Ticket               Fare Cabin Embarked
0                 891                891   204      889
1  260318.54916792738   32.2042079685746  None     None
2  471609.26868834975  49.69342859718089  None     None
3              110152                0.0   A10        C
4             19996.0             7.8958  None     None
5            236171.0            14.4542  None     None
6            347743.0               31.0  None     None
7           WE/P 5735           512.3292     T        S
Other way 2
+-------+-----------------+-------------------+------------------+------------------------------------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|PassengerId      |Survived           |Pclass            |Name                                            |Sex   |Age               |SibSp             |Parch              |Ticket            |Fare             |Cabin|Embarked|
+-------+-----------------+-------------------+------------------+------------------------------------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|count  |891              |891                |891               |891                                             |891   |714               |891               |891                |891               |891              |204  |889     |
|mean   |446.0            |0.3838383838383838 |2.308641975308642 |NULL                                            |NULL  |29.69911764705882 |0.5230078563411896|0.38159371492704824|260318.54916792738|32.2042079685746 |NULL |NULL    |
|stddev |257.3538420152301|0.48659245426485753|0.8360712409770491|NULL                                            |NULL  |14.526497332334035|1.1027434322934315|0.8060572211299488 |471609.26868834975|49.69342859718089|NULL |NULL    |
|min    |1                |0                  |1                 |"Andersson, Mr. August Edvard (""Wennerstrom"")"|female|0.42              |0                 |0                  |110152            |0.0              |A10  |C       |
|25%    |223              |0                  |2                 |NULL                                            |NULL  |20.0              |0                 |0                  |19996.0           |7.8958           |NULL |NULL    |
|50%    |446              |0                  |3                 |NULL                                            |NULL  |28.0              |0                 |0                  |236171.0          |14.4542          |NULL |NULL    |
|75%    |669              |1                  |3                 |NULL                                            |NULL  |38.0              |1                 |0                  |347743.0          |31.0             |NULL |NULL    |
|max    |891              |1                  |3                 |van Melkebeke, Mr. Philemon                     |male  |80.0              |8                 |6                  |WE/P 5735         |512.3292         |T    |S       |
+-------+-----------------+-------------------+------------------+------------------------------------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

None

#### Calculating the percentage of nulls in each column

In [16]:
#method 1 using filter

col_list = titanic_data.columns
null_percent_dict = {}
for column in col_list:
    null_percent_dict[column] = (titanic_data.filter(col(column).isNull()).count()/titanic_data.count())*100.00
    
null_percent_df = spark.createDataFrame([null_percent_dict])
print(null_percent_df.show())

+------------------+-----------------+-------------------+----+----+-----+-----------+------+---+-----+--------+------+
|               Age|            Cabin|           Embarked|Fare|Name|Parch|PassengerId|Pclass|Sex|SibSp|Survived|Ticket|
+------------------+-----------------+-------------------+----+----+-----+-----------+------+---+-----+--------+------+
|19.865319865319865|77.10437710437711|0.22446689113355783| 0.0| 0.0|  0.0|        0.0|   0.0|0.0|  0.0|     0.0|   0.0|
+------------------+-----------------+-------------------+----+----+-----+-----------+------+---+-----+--------+------+

None

In [17]:
# method 2 using select and when
for column in col_list:
    print(column)
    null_count = titanic_data.select(count(when(col(column).isNull(),column)).alias("Null Count")).collect()[0]["Null Count"]
    print(null_count)

PassengerId
0
Survived
0
Pclass
0
Name
0
Sex
0
Age
177
SibSp
0
Parch
0
Ticket
0
Fare
0
Cabin
687
Embarked
2

#### Knowledge Bytes 2
- To create new column (in this case AgeSegments) we can use either withColumn or select approach
- withColumn is used to rename of create new columns
- select - we need to make sure all the columns are present in the df else it will only produce the new column

In [26]:
titanic_data1 = titanic_data.withColumn(
    "AgeSegments",
    when(col("Age") < 18, "0-17")
    .when((col("Age") >= 18) & (col("Age") < 35), "18-34")
    .when((col("Age") >= 35) & (col("Age") < 50), "35-49")
    .when((col("Age") >= 50) & (col("Age") < 60), "50-59")
    .when((col("Age") >= 60) & (col("Age") < 70), "60-69")
    .when(col("Age") >= 70, "70+")
    .otherwise("Unknown")
)

In [19]:
# method 2
titanic_data2 = titanic_data.select(
    "*",  # keep all existing columns
    when(col("Age") < 18, "0-17")
    .when((col("Age") >= 18) & (col("Age") < 35), "18-34")
    .when((col("Age") >= 35) & (col("Age") < 50), "35-49")
    .when((col("Age") >= 50) & (col("Age") < 60), "50-59")
    .when((col("Age") >= 60) & (col("Age") < 70), "60-69")
    .when(col("Age") >= 70, "70+")
    .otherwise("Unknown")
    .alias("AgeSegments_selectMethod")
)

In [23]:
titanic_data2.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|AgeSegments_selectMethod|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|                   18-34|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|                   35-49|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|                   18-34|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|                   35-49|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|                   35-49|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|                 Unknown|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|                   50-59|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|                    0-17|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|                   18-34|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|                    0-17|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|                    0-17|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|                   50-59|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|                   18-34|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|                   35-49|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|                    0-17|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|                   50-59|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|                    0-17|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|                 Unknown|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|                   18-34|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|                 Unknown|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------------------+
only showing top 20 rows